/** 
    색상 정의 파일
    파일 이름에 "_"가 붙으면 컴파일 (변환) 되진 않음
*/

// $변수이름: 값;
// - 값의 형식은 CSS에서 기술하는 형태와 동일. 문자열, 숫자 구분 없음
$red: #f00;
$green: #0f0;
$blue: #00f;
$orange: #f60;
$yellow: #ff0;
$pink: #f0f;
$black: #000;
$white: #fff;